if SHIELD_SOPHY40_LEFT

config ZMK_KEYBOARD_NAME
    default "Sophy40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOPHY40_LEFT || SHIELD_SOPHY40_RIGHT

config ZMK_SPLIT
    default y

endif
