/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "sophy40.dtsi"

// Disable I2C to use pins as GPIO
&i2c0 {
    status = "disabled";
};

&kscan0 {
    col-gpios
        = <&gpio1 15 GPIO_ACTIVE_HIGH>  // Col0: A6_MOSI/P1.15
        , <&gpio1 14 GPIO_ACTIVE_HIGH>  // Col1: A5_MISO/P1.14
        , <&gpio1 13 GPIO_ACTIVE_HIGH>  // Col2: A7_SCK/P1.13
        , <&gpio1 12 GPIO_ACTIVE_HIGH>  // Col3: B9_RX/P1.12
        , <&gpio0 2 GPIO_ACTIVE_HIGH>   // Col4: A2/P0.02
        , <&gpio0 3 GPIO_ACTIVE_HIGH>   // Col5: A4/P0.03
        ;
};
