/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <4>;
// Matrix mapping based on netlist analysis:
// Col0(P1.15): SW1,2,3,4   Col1(P1.14): SW5,6,7,8   Col2(P1.13): SW9,10,11,12
// Col3(P1.12): SW13,14,15,16   Col4(P0.02): SW17,18,19,20   Col5(P0.03): SW21,22,23,24
// Row0(P0.28): D1,5,9,13,17,21   Row1(P0.29): D2,6,10,14,18,22
// Row2(P0.04): D3,7,11,15,19,23   Row3(P0.05): D4,8,12,16,20,24
        map = <
RC(0,0) RC(1,0) RC(2,0) RC(3,0) RC(0,1) RC(1,1)  RC(0,6) RC(1,6) RC(2,6) RC(3,6) RC(0,7) RC(1,7)
RC(2,1) RC(3,1) RC(0,2) RC(1,2) RC(2,2) RC(3,2)  RC(2,7) RC(3,7) RC(0,8) RC(1,8) RC(2,8) RC(3,8)
RC(0,3) RC(1,3) RC(2,3) RC(3,3) RC(0,4) RC(1,4)  RC(0,9) RC(1,9) RC(2,9) RC(3,9) RC(0,10) RC(1,10)
        RC(2,4) RC(3,4) RC(0,5) RC(1,5) RC(2,5) RC(3,5)  RC(2,10) RC(3,10) RC(0,11) RC(1,11) RC(2,11) RC(3,11)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "row2col";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        
        row-gpios
            = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Row0: A10/P0.28
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Row1: A11/P0.29
            , <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // Row2: A8_SDA/P0.04
            , <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // Row3: A9_SCL/P0.05
            ;
    };
};

&xiao_i2c {
    status = "disabled";
};