/*
 * Test configuration - single key matrix
 * Testing all possible combinations
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <1>;
        map = <RC(0,0)>;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";
        debounce-press-ms = <1>;
        debounce-release-ms = <1>;
        
        // SW1 (T key): Col0=P1.15, Row0=P0.28
        col-gpios = <&xiao_d 10 GPIO_ACTIVE_HIGH>;  // D10 = MOSI = P1.15
        row-gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  // P0.28
    };
};

&xiao_i2c {
    status = "disabled";
};
