name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      
      - name: West Init
        run: west init -l config
      
      - name: West Update
        run: west update
      
      - name: West Zephyr export
        run: west zephyr-export
      
      - name: West Build (Left)
        run: west build --pristine -s zmk/app -b seeeduino_xiao_ble -- -DSHIELD=sophy40_left -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"
      
      - name: Rename zmk.uf2 (Left)
        run: cp build/zephyr/zmk.uf2 sophy40_left_xiao_ble.uf2
      
      - name: West Build (Right)
        run: west build --pristine -s zmk/app -b seeeduino_xiao_ble -- -DSHIELD=sophy40_right -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"
      
      - name: Rename zmk.uf2 (Right)
        run: cp build/zephyr/zmk.uf2 sophy40_right_xiao_ble.uf2
      
      - name: West Build (Settings Reset)
        run: west build --pristine -s zmk/app -b seeeduino_xiao_ble -- -DSHIELD=settings_reset
      
      - name: Rename zmk.uf2 (Settings Reset)
        run: cp build/zephyr/zmk.uf2 settings_reset-seeeduino_xiao_ble-zmk.uf2
      
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            *.uf2
